#Book Recommendation

The goal of this task is to implement a simple book recommendation system using embeddings in neural networks. 

We use the [Kaggle Goodbooks](https://www.kaggle.com/zygmunt/goodbooks-10k) data set.

## Read ratings

In [1]:
import pandas as pd
ratings = pd.read_csv('https://github.com/mlcollege/rbi/raw/master/specializations/Deep-Learning/data/ratings.csv', sep=',')
ratings.head()

   book_id  user_id  rating
0        1      314       5
1        1      439       3
2        1      588       5
3        1     1169       4
4        1     1185       4

## Read books

In [2]:
books = pd.read_csv('https://github.com/mlcollege/rbi/raw/master/specializations/Deep-Learning/data/books.csv', sep=',')
books.head()

   id  ...                                    small_image_url
0   1  ...  https://images.gr-assets.com/books/1447303603s...
1   2  ...  https://images.gr-assets.com/books/1474154022s...
2   3  ...  https://images.gr-assets.com/books/1361039443s...
3   4  ...  https://images.gr-assets.com/books/1361975680s...
4   5  ...  https://images.gr-assets.com/books/1490528560s...

[5 rows x 23 columns]

## Prepare input data

In [3]:
# merge ratings and book titles 
data = pd.merge(ratings, books[['id', 'title']], left_on='book_id', right_on='id')[['user_id', 'book_id', 'rating', 'title']]

# create new book and user ids
user_ids_map = dict([(old, new) for new, old in enumerate(data['user_id'].unique())])
book_ids_map = dict([(old, new) for new, old in enumerate(data['book_id'].unique())])
data['user_id'] = data['user_id'].map(lambda x: user_ids_map[x])
data['book_id'] = data['book_id'].map(lambda x: book_ids_map[x])

# count users and books
user_count = len(data['user_id'].unique())
book_count = len(data['book_id'].unique())
print ("Unique users: {}".format(user_count))
print ("Unique books: {}".format(book_count))

# preview the data
data.head()

Unique users: 53424
Unique books: 10000

   user_id  book_id  rating                                    title
0        0        0       5  The Hunger Games (The Hunger Games, #1)
1        1        0       3  The Hunger Games (The Hunger Games, #1)
2        2        0       5  The Hunger Games (The Hunger Games, #1)
3        3        0       4  The Hunger Games (The Hunger Games, #1)
4        4        0       4  The Hunger Games (The Hunger Games, #1)

In [4]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(data, test_size=0.2)

## Define the model

This model simply computes dot product of a book dense vector with a user dense vector. Your task here is to replace this dot product with a sequence of Dense layers in order to add complexity to the model and get better results. Before adding Dense layers, you will need to concatenate both embeddings using the Concatenate layer.

In [5]:
from keras.layers import Input, Embedding, Flatten, Dot, Concatenate, Dense
from keras.models import Model

book_input = Input(shape=(1))
book_embedding = Embedding(book_count, 6)(book_input)
book_vec = Flatten()(book_embedding)

user_input = Input(shape=(1))
user_embedding = Embedding(user_count, 6)(user_input)
user_vec = Flatten()(user_embedding)

#TODO Replace Dot product with a sequence of Dense layers
prod = Dot(axes=1)([book_vec, user_vec])

model = Model([user_input, book_input], prod)
model.compile('adam', 'mse')

print (model.summary())

Model: "functional_1"
__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
input_1 (InputLayer)            [(None, 1)]          0
__________________________________________________________________________________________________
input_2 (InputLayer)            [(None, 1)]          0
__________________________________________________________________________________________________
embedding (Embedding)           (None, 1, 6)         60000       input_1[0][0]
__________________________________________________________________________________________________
embedding_1 (Embedding)         (None, 1, 6)         320544      input_2[0][0]
__________________________________________________________________________________________________
flatten (Flatten)               (None, 6)            0           embedding[0][0]
__________________________________________________________________________________________________
flatten_1 (Flatten)             (None, 6)            0           embedding_1[0][0]
__________________________________________________________________________________________________
dot (Dot)                       (None, 1)            0           flatten[0][0]
                                                                 flatten_1[0][0]
==================================================================================================
Total params: 380,544
Trainable params: 380,544
Non-trainable params: 0
__________________________________________________________________________________________________
None

## Train the model

In [6]:
model.fit([train['user_id'], train['book_id']], [train['rating']], 
          validation_data=([test['user_id'], test['book_id']], [test['rating']]),
          batch_size=512, epochs=20, verbose=1)

Epoch 1/20
1534/1534 [==============================] - 11s 7ms/step - loss: 15.6668 - val_loss: 14.7821
Epoch 2/20
1534/1534 [==============================] - 11s 7ms/step - loss: 11.5023 - val_loss: 8.1296
Epoch 3/20
1534/1534 [==============================] - 11s 7ms/step - loss: 5.5130 - val_loss: 3.8641
Epoch 4/20
1534/1534 [==============================] - 11s 7ms/step - loss: 2.6988 - val_loss: 2.2533
Epoch 5/20
1534/1534 [==============================] - 11s 7ms/step - loss: 1.6475 - val_loss: 1.6203
Epoch 6/20
1534/1534 [==============================] - 11s 7ms/step - loss: 1.2066 - val_loss: 1.3246
Epoch 7/20
1534/1534 [==============================] - 11s 7ms/step - loss: 0.9893 - val_loss: 1.1622
Epoch 8/20
1534/1534 [==============================] - 11s 7ms/step - loss: 0.8669 - val_loss: 1.0615
Epoch 9/20
1534/1534 [==============================] - 11s 7ms/step - loss: 0.7908 - val_loss: 0.9938
Epoch 10/20
1534/1534 [==============================] - 10s 7ms/step - loss: 0.7402 - val_loss: 0.9460
Epoch 11/20
1534/1534 [==============================] - 10s 7ms/step - loss: 0.7050 - val_loss: 0.9104
Epoch 12/20
1534/1534 [==============================] - 10s 7ms/step - loss: 0.6796 - val_loss: 0.8843
Epoch 13/20
1534/1534 [==============================] - 10s 7ms/step - loss: 0.6607 - val_loss: 0.8642
Epoch 14/20
1534/1534 [==============================] - 10s 7ms/step - loss: 0.6461 - val_loss: 0.8486
Epoch 15/20
1534/1534 [==============================] - 11s 7ms/step - loss: 0.6345 - val_loss: 0.8359
Epoch 16/20
1534/1534 [==============================] - 11s 7ms/step - loss: 0.6250 - val_loss: 0.8262
Epoch 17/20
1534/1534 [==============================] - 11s 7ms/step - loss: 0.6170 - val_loss: 0.8185
Epoch 18/20
1534/1534 [==============================] - 11s 7ms/step - loss: 0.6097 - val_loss: 0.8126
Epoch 19/20
1534/1534 [==============================] - 11s 7ms/step - loss: 0.6033 - val_loss: 0.8081
Epoch 20/20
1534/1534 [==============================] - 11s 7ms/step - loss: 0.5970 - val_loss: 0.8049